@{
    ViewBag.Title = "About";
}
<div style="text-align: center">
    <img src="/Content/Logos/CL_250x250.png">

    <h2>About Circular Logic</h2>
</div>
<br />
<div style="width: 69%; margin: auto;">
    <h3>Our Company</h3>

    <p>
        Circular Logic is a software development and consulting company focused on providing innovative solutions to our clients.
        We pride ourselves on delivering scalable and extensible solutions that keep the future of your business and products in mind.
        Our team has over 15 years of experience providing Microsoft based development solutions to a diverse group of businesses,
        ranging from small startups to large multinational corporations. We have the expertise and capacity to implement a wide
        range of technologies from the Microsoft stack such as ASP.NET, MVC, C#, and SQL Server as well as core technologies for
        web development such as JavaScript, HTML, and CSS. Our primary goals are providing you with an application that works for you,
        providing a bilateral development process that keeps you informed, and providing exceptional support for your application once it is in production.
    </p>
    <br />
    <h3>About the Dev's Round Table</h3>

    <p>
        The Dev’s Round Table is a blog managed by our in house development team. We utilize this blog to share our team’s view on
        core programming principles with the world. Posts touch on a wide range of topics from low level topics such as assembly
        languages to high level concepts like user experience. Our hope is that this blog can provide a window for our clients to
        observe our development strategies and reference for other development teams to get insight into our team’s thought process.
        The blog has also proven to be a useful training tool for new team members of all skill levels, as it helps bring them up to 
        speed with the types of concepts they will see implemented on projects and insight into the core value of our development team.
</div>