@{
    ViewBag.Title = "Contact";
}
<h2>Contact Our Team</h2>
<h3>We would love to hear from you!</h3>
<br />

<h4>
    <address>
        42 Prophet Way<br />
        Cleveland, OH 44101<br />
        <abbr title="Phone">P:</abbr>
        (216) 555-DERP
    </address>
</h4>
<br />
<br />
<div style="text-align: center">
    <div class="row">
        <div class="col-md-6">
            <img src="/Content/Images/tjHeadshot.jpg" style='height: 200px; width: 200px; object-fit: contain' class="img-circle">
        </div>
        <div class="col-md-6">
            <img src="/Content/Images/hannahHeadshot.jpg" style='height: 200px; width: 200px; object-fit: contain' class="img-circle">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <strong>Knows Enough to Be Dangerous:</strong> TJ Mueller <a href="mailto:tjmueller.circularlogic@gmail.com">tjmueller@circularlogic.com</a><br />
        </div>
        <div class="col-md-6">
            <strong>Lead Oragnist:</strong> Hannah Seligson <a href="mailto:hgseligson.circularlogic@gmail.com">hgseligson@circularlogic.com</a><br />
        </div>
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col-md-6">
            <img src="/Content/Images/billHeadshot.jpg" style='height: 200px; width: 200px; object-fit: contain' class="img-circle">
        </div>
        <div class="col-md-6">
            <img src="/Content/Images/tonyHeadshot.jpg" style='height: 200px; width: 200px; object-fit: contain' class="img-circle">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <strong>Lead Spaghetti Coder:</strong> Bill Poulson <a href="mailto:wrpoulson.circularlogic@gmail.com">wrpoulson@circularlogic.com</a><br />
        </div>
        <div class="col-md-6">
            <strong>Tomkat Tamer:</strong> Tony Mairorana <a href="mailto:tjmaiorana.circularlogic@gmail.com">tjmaiorana@circularlogic.com</a>
        </div>
    </div>
</div>