@{
    ViewBag.Title = "Contact";
}
<h2>Contact Our Team</h2>
<h3>We would love to hear your feedback!</h3>

<address>
    42 Prophet Way<br />
    Spittle Lake, OH<br />
    <abbr title="Phone">P:</abbr>
    216-555-DERP
</address>

<address>
    <strong>Blog Admin:</strong>  TJ Mueller  <a href="mailto:tjmueller.circularlogic@gmail.com">tjmueller.circularlogic@gmail.com</a><br />
    <strong>Project Management:</strong> Hannah Seligson <a href="mailto:hgseligson.circularlogic@gmail.com">hgseligson.circularlogic@gmail.com</a><br />
    <strong>Lead Spaghetti Coder:</strong> Bill Poulson <a href="mailto:wrpoulson.circularlogic@gmail.com">wrpoulson.circularlogic@gmail.com</a><br />
    <strong>UPS Guy:</strong> Tony Mairorana <a href="mailto:tjmaiorana.circularlogic@gmail.com">tjmaiorana.circularlogic@gmail.com</a>

</address>