USE [master]
GO
/****** Object:  Database [CircularLogic]    Script Date: 5/2/2016 9:04:21 AM ******/
CREATE DATABASE [CircularLogic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CircularLogic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\CircularLogic.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CircularLogic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\CircularLogic_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CircularLogic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CircularLogic]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BlogImage]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogImage](
	[BlogPostID] [int] NOT NULL,
	[ImageID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BlogPost]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BlogPost](
	[BlogPostID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Title] [varchar](150) NOT NULL,
	[TextBody] [varchar](max) NOT NULL,
	[PostTime] [datetime] NULL CONSTRAINT [DF_BlogPost_PostTime]  DEFAULT (NULL),
	[ExpirationTime] [datetime] NULL CONSTRAINT [DF_BlogPost_ExpirationTime]  DEFAULT (NULL),
	[UpdateTime] [datetime] NOT NULL,
	[CreationTime] [datetime] NOT NULL,
	[DeletedTime] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_BlogPost_IsDeleted]  DEFAULT ((0)),
	[IsApproved] [bit] NOT NULL CONSTRAINT [DF_BlogPost_IsApproved]  DEFAULT ((0)),
	[UserID] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_BlogPost] PRIMARY KEY CLUSTERED 
(
	[BlogPostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
	[Color] [nchar](6) NOT NULL CONSTRAINT [DF_Category_Color]  DEFAULT (N'e79c00'),
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ContentQueue]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentQueue](
	[ContentQueueID] [int] IDENTITY(1,1) NOT NULL,
	[OrigBlogPostID] [int] NULL,
	[NewBlogPostID] [int] NOT NULL,
	[QueueActionID] [int] NOT NULL,
 CONSTRAINT [PK_ContentQueue] PRIMARY KEY CLUSTERED 
(
	[ContentQueueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Image]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Image](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[ImageData] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PostTag]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostTag](
	[BlogPostID] [int] NOT NULL,
	[TagID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QueueAction]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QueueAction](
	[QueueActionID] [int] IDENTITY(1,1) NOT NULL,
	[ActionNeeded] [varchar](20) NOT NULL,
 CONSTRAINT [PK_QueueAction] PRIMARY KEY CLUSTERED 
(
	[QueueActionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StaticImage]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaticImage](
	[StaticPageID] [int] NOT NULL,
	[ImageID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StaticPage]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StaticPage](
	[StaticPageID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](150) NOT NULL,
	[TextBody] [varchar](max) NOT NULL,
	[UpdateTime] [datetime] NOT NULL,
	[CreationTime] [datetime] NOT NULL,
	[DeletedTime] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_StaticPage_IsDeleted]  DEFAULT ((0)),
 CONSTRAINT [PK_StaticPage] PRIMARY KEY CLUSTERED 
(
	[StaticPageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tag](
	[TagID] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Contributor')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'User')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'025bee71-8da8-447a-bf41-e09e601a6a60', N'1')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'a6e16f3d-c129-4d66-bd72-b28f2034eafd', N'2')
GO
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [LastName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'025bee71-8da8-447a-bf41-e09e601a6a60', N'Admin', N'Admin', N'Admin@Admin.com', 0, N'AJzoSMwHSpIy/fV7dbl30UOsA5KF+lbLA6bOCChIshuXOAGelQ8NzkGpAmk+wGHgTA==', N'6ad1b914-0f30-4868-bc3f-2983c6d06047', NULL, 0, 0, NULL, 1, 0, N'Admin@Admin.com')
GO
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [LastName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'a6e16f3d-c129-4d66-bd72-b28f2034eafd', N'Bill', N'Poulson', N'wrpoulson@gmail.com', 0, N'ADesQFLBbRfXOrXiHLKssAr3gPSMJLwy+krfi7yx0L5MDZl1JWcNJhitvb+v/q20WQ==', N'a15d224f-3e28-428a-a620-fba2f6f7a98e', NULL, 0, 0, NULL, 1, 0, N'wrpoulson@gmail.com')
GO
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [LastName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'fd6ea708-ee42-4e08-a5c5-c1f4ba8c8f57', NULL, NULL, N'hseligson@gmail.com', 0, N'ACDd6Tcgnjfc6QHVmmxQQ+rhOIECAL0rfbBlLkkPy6y2TdpAmp0YPn2Zeet4lFvCCA==', N'03c98b27-85f8-4522-b9ef-be28fba53d48', NULL, 0, 0, NULL, 1, 0, N'hseligson@gmail.com')
GO
INSERT [dbo].[BlogImage] ([BlogPostID], [ImageID]) VALUES (1, 1)
GO
INSERT [dbo].[BlogImage] ([BlogPostID], [ImageID]) VALUES (4, 2)
GO
INSERT [dbo].[BlogImage] ([BlogPostID], [ImageID]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[BlogPost] ON 

GO
SET IDENTITY_INSERT [dbo].[BlogPost] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

GO
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Color]) VALUES (1, N'Web Development', N'e79c00')
GO
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Color]) VALUES (2, N'Databases', N'e79c00')
GO
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Color]) VALUES (3, N'Object-oriented Programming', N'e79c00')
GO
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[ContentQueue] ON 

GO
INSERT [dbo].[ContentQueue] ([ContentQueueID], [OrigBlogPostID], [NewBlogPostID], [QueueActionID]) VALUES (1, NULL, 3, 1)
GO
INSERT [dbo].[ContentQueue] ([ContentQueueID], [OrigBlogPostID], [NewBlogPostID], [QueueActionID]) VALUES (2, 1, 6, 2)
GO
INSERT [dbo].[ContentQueue] ([ContentQueueID], [OrigBlogPostID], [NewBlogPostID], [QueueActionID]) VALUES (3, NULL, 7, 3)
GO
SET IDENTITY_INSERT [dbo].[ContentQueue] OFF
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

GO
INSERT [dbo].[Image] ([ImageID], [Name], [ImageData]) VALUES (1, N'Test', N'http://standrewscitychurch.com/wp-content/uploads/2015/12/Testing.gif')
GO
INSERT [dbo].[Image] ([ImageID], [Name], [ImageData]) VALUES (2, N'Picture', N'http://e2ua.com/data/wallpapers/22/WDF_701465.jpg')
GO
INSERT [dbo].[Image] ([ImageID], [Name], [ImageData]) VALUES (3, N'JonBenet Ramsey', N'http://www.dotnet-tricks.com/Content/images/mvc/ViewData-ViewBag-TempData-Session.png')
GO
SET IDENTITY_INSERT [dbo].[Image] OFF
GO
INSERT [dbo].[PostTag] ([BlogPostID], [TagID]) VALUES (1, 1)
GO
INSERT [dbo].[PostTag] ([BlogPostID], [TagID]) VALUES (1, 6)
GO
INSERT [dbo].[PostTag] ([BlogPostID], [TagID]) VALUES (3, 6)
GO
SET IDENTITY_INSERT [dbo].[QueueAction] ON 

GO
INSERT [dbo].[QueueAction] ([QueueActionID], [ActionNeeded]) VALUES (1, N'New')
GO
INSERT [dbo].[QueueAction] ([QueueActionID], [ActionNeeded]) VALUES (2, N'Edit')
GO
INSERT [dbo].[QueueAction] ([QueueActionID], [ActionNeeded]) VALUES (3, N'Delete')
GO
SET IDENTITY_INSERT [dbo].[QueueAction] OFF
GO
INSERT [dbo].[StaticImage] ([StaticPageID], [ImageID]) VALUES (1, 17)
GO
SET IDENTITY_INSERT [dbo].[StaticPage] ON 

GO
SET IDENTITY_INSERT [dbo].[StaticPage] OFF
GO
SET IDENTITY_INSERT [dbo].[Tag] ON 

GO
INSERT [dbo].[Tag] ([TagID], [TagName]) VALUES (1, N'MVC')
GO
INSERT [dbo].[Tag] ([TagID], [TagName]) VALUES (2, N'JAVASCRIPT')
GO
INSERT [dbo].[Tag] ([TagID], [TagName]) VALUES (3, N'HTML')
GO
SET IDENTITY_INSERT [dbo].[Tag] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 5/2/2016 9:04:21 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 5/2/2016 9:04:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 5/2/2016 9:04:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 5/2/2016 9:04:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 5/2/2016 9:04:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 5/2/2016 9:04:21 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BlogImage]  WITH CHECK ADD  CONSTRAINT [FK_BlogImage_BlogPost] FOREIGN KEY([BlogPostID])
REFERENCES [dbo].[BlogPost] ([BlogPostID])
GO
ALTER TABLE [dbo].[BlogImage] CHECK CONSTRAINT [FK_BlogImage_BlogPost]
GO
ALTER TABLE [dbo].[BlogImage]  WITH CHECK ADD  CONSTRAINT [FK_BlogImage_Image] FOREIGN KEY([ImageID])
REFERENCES [dbo].[Image] ([ImageID])
GO
ALTER TABLE [dbo].[BlogImage] CHECK CONSTRAINT [FK_BlogImage_Image]
GO
ALTER TABLE [dbo].[BlogPost]  WITH CHECK ADD  CONSTRAINT [FK_BlogPost_AspNetUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[BlogPost] CHECK CONSTRAINT [FK_BlogPost_AspNetUsers]
GO
ALTER TABLE [dbo].[BlogPost]  WITH CHECK ADD  CONSTRAINT [FK_BlogPost_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[BlogPost] CHECK CONSTRAINT [FK_BlogPost_Category]
GO
ALTER TABLE [dbo].[ContentQueue]  WITH CHECK ADD  CONSTRAINT [FK_ContentQueue_BlogPost] FOREIGN KEY([NewBlogPostID])
REFERENCES [dbo].[BlogPost] ([BlogPostID])
GO
ALTER TABLE [dbo].[ContentQueue] CHECK CONSTRAINT [FK_ContentQueue_BlogPost]
GO
ALTER TABLE [dbo].[ContentQueue]  WITH CHECK ADD  CONSTRAINT [FK_ContentQueue_BlogPost1] FOREIGN KEY([NewBlogPostID])
REFERENCES [dbo].[BlogPost] ([BlogPostID])
GO
ALTER TABLE [dbo].[ContentQueue] CHECK CONSTRAINT [FK_ContentQueue_BlogPost1]
GO
ALTER TABLE [dbo].[ContentQueue]  WITH CHECK ADD  CONSTRAINT [FK_ContentQueue_QueueAction] FOREIGN KEY([QueueActionID])
REFERENCES [dbo].[QueueAction] ([QueueActionID])
GO
ALTER TABLE [dbo].[ContentQueue] CHECK CONSTRAINT [FK_ContentQueue_QueueAction]
GO
ALTER TABLE [dbo].[PostTag]  WITH CHECK ADD  CONSTRAINT [FK_PostTag_BlogPost] FOREIGN KEY([BlogPostID])
REFERENCES [dbo].[BlogPost] ([BlogPostID])
GO
ALTER TABLE [dbo].[PostTag] CHECK CONSTRAINT [FK_PostTag_BlogPost]
GO
ALTER TABLE [dbo].[PostTag]  WITH CHECK ADD  CONSTRAINT [FK_PostTag_Tag] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tag] ([TagID])
GO
ALTER TABLE [dbo].[PostTag] CHECK CONSTRAINT [FK_PostTag_Tag]
GO
ALTER TABLE [dbo].[StaticImage]  WITH CHECK ADD  CONSTRAINT [FK_StaticImage_Image] FOREIGN KEY([ImageID])
REFERENCES [dbo].[Image] ([ImageID])
GO
ALTER TABLE [dbo].[StaticImage] CHECK CONSTRAINT [FK_StaticImage_Image]
GO
ALTER TABLE [dbo].[StaticImage]  WITH CHECK ADD  CONSTRAINT [FK_StaticImage_StaticPage] FOREIGN KEY([StaticPageID])
REFERENCES [dbo].[StaticPage] ([StaticPageID])
GO
ALTER TABLE [dbo].[StaticImage] CHECK CONSTRAINT [FK_StaticImage_StaticPage]
GO
/****** Object:  StoredProcedure [dbo].[AddABlog]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Tony Maiorana
-- Create date: 4/22/2016
-- Description:	Insert a new blog
-- =============================================
CREATE PROCEDURE [dbo].[AddABlog] 
	-- Add the parameters for the stored procedure here
		@CategoryID int,
		@UserID varchar(128),
		@Title varchar(150), 
		@TextBody varchar(max),
		@UpdateTime datetime,
		@CreationTime datetime,
		@IsApproved bit,
		@IsEdit bit = 0,
		@BlogPostID int = null,
		@BlogID int output

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO dbo.BlogPost (CategoryID, UserID, Title, TextBody, UpdateTime, CreationTime, IsApproved)
	 VALUES(@CategoryID, @UserID, @Title, @TextBody, @UpdateTime, @CreationTime, @IsApproved);
		SET @BlogID = SCOPE_IDENTITY();

	IF @IsApproved != 1
		BEGIN
			IF @IsEdit = 1
				BEGIN
					INSERT INTO dbo.ContentQueue (NewBlogPostID, QueueActionID, OrigBlogPostID)
					VALUES(@BlogID, 2, @BlogPostID)
				END
			ELSE
				BEGIN
					INSERT INTO dbo.ContentQueue (NewBlogPostID, QueueActionID)
					VALUES(@BlogID, 1)
				END
		END
END









GO
/****** Object:  StoredProcedure [dbo].[AddACategory]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Tony Maiorana>
-- Create date: <Create Date,,4/22/2016>
-- Description:	<Description,,Add a Category>
-- =============================================
CREATE PROCEDURE [dbo].[AddACategory] 
	-- Add the parameters for the stored procedure here
	@Name varchar(50),
	@Color nchar(6),
	@CategoryID int output
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO  dbo.Category (CategoryName, Color) VALUES(@Name, @Color);
	SET @CategoryID = SCOPE_IDENTITY();
	
END








GO
/****** Object:  StoredProcedure [dbo].[AddAnImage]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Tony Maiorana>
-- Create date: <Create Date,,4/22/2016>
-- Description:	<Description,,Add An Image>
-- =============================================
CREATE PROCEDURE [dbo].[AddAnImage] 
	-- Add the parameters for the stored procedure here
	@Name varchar(50),
	@ImageData varchar(max),
	@ImageID int output
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO dbo.Image (Name, ImageData) VALUES(@Name, @ImageData)
	SET @ImageID = SCOPE_IDENTITY();
END








GO
/****** Object:  StoredProcedure [dbo].[AddAStaticPage]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		William Poulson
-- Create date: 4/29/2016
-- Description:	Used for adding a new static page
-- =============================================
CREATE PROCEDURE [dbo].[AddAStaticPage] 
	-- Add the parameters for the stored procedure here
		@Title varchar(150), 
		@TextBody varchar(max),
		@UpdateTime datetime,
		@CreationTime datetime,
		@StaticPageID int output
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		INSERT INTO dbo.StaticPage (Title, TextBody, UpdateTime, CreationTime)
	 VALUES(@Title, @TextBody, @UpdateTime, @CreationTime);
		SET @StaticPageID = SCOPE_IDENTITY();
END




GO
/****** Object:  StoredProcedure [dbo].[AddATag]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Tony Maiorana>
-- Create date: <Create Date,,4/22/2016>
-- Description:	<Description,,Add A Tag>
-- =============================================
CREATE PROCEDURE [dbo].[AddATag]
	-- Add the parameters for the stored procedure here
	@Name varchar(50),
	@TagID int output
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO dbo.Tag (TagName) VALUES(@Name)
	SET @TagID = SCOPE_IDENTITY();
END








GO
/****** Object:  StoredProcedure [dbo].[AdminQueueUpdate]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AdminQueueUpdate]
	-- Add the parameters for the stored procedure here
	@ContentQueueID int,
	@Allow bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

DECLARE @NewBlogPostID int
DECLARE @OrigBlogID int
SET @NewBlogPostID = (SELECT NewBlogPostID FROM ContentQueue c WHERE @ContentQueueID = c.ContentQueueID)
SET @OrigBlogID = (SELECT OrigBlogPostID FROM ContentQueue c WHERE @ContentQueueID = c.ContentQueueID)

IF @Allow = 1
	BEGIN
	DECLARE @QueueAction int
	SET @QueueAction = (SELECT QueueActionID FROM ContentQueue  WHERE @ContentQueueID = ContentQueueID);
	IF @QueueAction != 2
		BEGIN
			UPDATE BlogPost SET 
				IsDeleted = CASE WHEN (@QueueAction) = 3 THEN 1 ELSE 0 END,
				IsApproved = 1
			WHERE BlogPostID = @NewBlogPostID
		END
	ELSE
		BEGIN
		UPDATE BlogPost 
			SET 
				IsDeleted = 0 ,
				IsApproved = 1,
				[Title] = copy.Title,
				[CategoryID] = copy.CategoryID ,
				[TextBody] = copy.TextBody ,
				[PostTime] = copy.PostTime,
				[ExpirationTime] = copy.ExpirationTime,
				[UpdateTime] = copy.UpdateTime,
				[CreationTime] = copy.CreationTime,
				[UserID] = copy.UserID
			FROM (SELECT Title, TextBody, PostTime, ExpirationTime, UpdateTime, CreationTime, UserID, CategoryID 
					FROM BlogPost 
					WHERE BlogPostID = @NewBlogPostID
				) copy
		WHERE BlogPostID = @OrigBlogID

		IF @QueueAction = 2
			BEGIN
				DELETE FROM PostTag WHERE BlogPostID = @OrigBlogID
				DELETE FROM BlogImage Where BlogPostID = @OrigBlogID
				UPDATE PostTag SET BlogPostID = @OrigBlogID WHERE BlogPostID = @NewBlogPostID
				UPDATE BlogImage SET BlogPostID = @OrigBlogID WHERE BlogPostID = @NewBlogPostID
			END
		END
	END
ELSE
	BEGIN
		DELETE FROM PostTag WHERE BlogPostID = @NewBlogPostID
		DELETE FROM BlogImage Where BlogPostID = @NewBlogPostID
	END



DELETE FROM ContentQueue Where ContentQueueID = @ContentQueueID

IF @QueueAction != 1
	BEGIN
		DELETE FROM BlogPost Where BlogPostID = @NewBlogPostID 
		DELETE FROM PostTag WHERE BlogPostID = @NewBlogPostID
		DELETE FROM BlogImage Where BlogPostID = @NewBlogPostID
	END

END








GO
/****** Object:  StoredProcedure [dbo].[BridgeBlogImage]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Tony Maiorana>
-- Create date: <Create Date,,4/22/2016>
-- Description:	<Description,,Bridge BlogPost and Image>
-- =============================================
CREATE PROCEDURE [dbo].[BridgeBlogImage]
	-- Add the parameters for the stored procedure here
	@BlogID int,
	@ImageID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO dbo.BlogImage(BlogPostID,ImageID) VALUES(@BlogID, @ImageID)
END








GO
/****** Object:  StoredProcedure [dbo].[BridgePostTag]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Tony Maiorana>
-- Create date: <Create Date,,4/22/2016>
-- Description:	<Description,,Bridge BlogPost and Tag>
-- =============================================
CREATE PROCEDURE [dbo].[BridgePostTag]
	-- Add the parameters for the stored procedure here
	@BlogID int,
	@TagID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO dbo.PostTag (BlogPostID,TagID) VALUES(@BlogID, @TagID)
END








GO
/****** Object:  StoredProcedure [dbo].[BridgeStaticImage]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		William Poulson
-- Create date: 4/29/2016
-- Description:	adds record to bridge static page table to image table
-- =============================================
CREATE PROCEDURE [dbo].[BridgeStaticImage] 
	-- Add the parameters for the stored procedure here
	@StaticPageID int,
	@ImageID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO StaticImage(StaticPageID, ImageID) VALUES(@StaticPageID, @ImageID)
END



GO
/****** Object:  StoredProcedure [dbo].[CategoryCount]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CategoryCount] 
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT c.*, count(b.CategoryID) AS TotalMentions FROM Category c
	Left JOIN BlogPost b on b.CategoryID = c.CategoryID
	GROUP BY c.CategoryID, c.CategoryName, c.Color
	ORDER BY TotalMentions desc
END








GO
/****** Object:  StoredProcedure [dbo].[DeleteABlog]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DeleteABlog]

	@BlogPostID int,
	@IsAdmin bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @IsAdmin = 1
		BEGIN
			UPDATE BlogPost SET IsDeleted = 1, DeletedTime = GETDATE();
		END
	ELSE
		BEGIN
			INSERT INTO dbo.ContentQueue (NewBlogPostID, QueueActionID)
				VALUES(@BlogPostID, 3)
		END
END





GO
/****** Object:  StoredProcedure [dbo].[DeleteAStaticPage]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		William Poulson
-- Create date: 4/29/2016
-- Description:	soft deletes a static page
-- =============================================
CREATE PROCEDURE [dbo].[DeleteAStaticPage] 
	-- Add the parameters for the stored procedure here
	@StaticPageID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE StaticPage
		SET IsDeleted = 1, DeletedTime = GETDATE()
	WHERE StaticPageID = @StaticPageID
END




GO
/****** Object:  StoredProcedure [dbo].[DeleteCategory]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DeleteCategory]
	-- Add the parameters for the stored procedure here
	@CategoryID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM Category Where CategoryID = @CategoryID


END








GO
/****** Object:  StoredProcedure [dbo].[GetAdminQueue]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAdminQueue] 
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM BlogPost bp
		INNER JOIN Category c ON c.CategoryID = bp.CategoryID
		INNER JOIN ContentQueue q ON bp.BlogPostID = q.NewBlogPostID
		WHERE bp.IsApproved = 0 AND bp.IsDeleted = 0
END







GO
/****** Object:  StoredProcedure [dbo].[GetAllBlogPostByCategoryID]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Tony Maiorana>
-- Create date: <Create Date,,4/24/2016>
-- Description:	<Description,,Get All BlogPost by CategoryID>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllBlogPostByCategoryID] 
	-- Add the parameters for the stored procedure here
	@CategoryID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM BlogPost bp
	INNER JOIN Category c
	 ON c.CategoryID = bp.CategoryID
	WHERE @CategoryID = bp.CategoryID
END








GO
/****** Object:  StoredProcedure [dbo].[GetAllBlogPostByTagID]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Tony Maiorana>
-- Create date: <Create Date,,4/24/2016>
-- Description:	<Description,,Get All BlogPost By TagID>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllBlogPostByTagID]
	-- Add the parameters for the stored procedure here
	@TagID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT BlogPostID FROM PostTag
WHERE @TagID = TagID
END








GO
/****** Object:  StoredProcedure [dbo].[GetAllBlogs]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Tony Maiorana>
-- Create date: <Create Date,,4/24/2016>
-- Description:	<Description,,Get All Blogs>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllBlogs]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT c.CategoryName, bp.BlogPostID, bp.Title, bp.UserID, bp.TextBody, bp.UpdateTime, bp.ExpirationTime, c.CategoryID, bp.CreationTime, bp.IsApproved, bp.PostTime FROM BlogPost bp
	INNER JOIN Category c
	 ON c.CategoryID = bp.CategoryID
	  WHERE bp.IsApproved = 1 AND bp.IsDeleted = 0
END








GO
/****** Object:  StoredProcedure [dbo].[GetAllCategories]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Tony Maiorana>
-- Create date: <Create Date,,4/25/2016>
-- Description:	<Description,,Get All Categories>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllCategories]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Category
END








GO
/****** Object:  StoredProcedure [dbo].[GetAllStaticPages]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Hannah>
-- Create date: <5/1/2016>
-- Description:	<Getting all static pages>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllStaticPages] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	 SELECT        StaticPage.*
FROM            StaticPage
WHERE IsDeleted = 0
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllSumOfTags]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Hannah>
-- Create date: <4/30/2016>
-- Description:	<Sum of all Tags>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllSumOfTags] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
SELECT        Tag.TagID, Tag.TagName, COUNT(PostTag.BlogPostID) AS Weight
FROM            Tag LEFT OUTER JOIN
                         PostTag ON Tag.TagID = PostTag.TagID
GROUP BY Tag.TagName, Tag.TagID
END


GO
/****** Object:  StoredProcedure [dbo].[GetAllTagNameByBlogPostID]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Tony Maiorana>
-- Create date: <Create Date,,4/24/2016>
-- Description:	<Description,,Get All TagName by BlogPostID>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllTagNameByBlogPostID] 
	-- Add the parameters for the stored procedure here
	@BlogID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT t.TagID, t.TagName FROM Tag t
	LEFT JOIN PostTag pt ON pt.TagID = t.TagID
	WHERE @BlogID = pt.BlogPostID
END








GO
/****** Object:  StoredProcedure [dbo].[GetAllTags]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Tony Maiorana>
-- Create date: <Create Date,,4/25/2016>
-- Description:	<Description,,Get All Tags>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllTags]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Tag
END








GO
/****** Object:  StoredProcedure [dbo].[GetBlogImageByBlogID]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Tony Maiorana>
-- Create date: <Create Date,,4/24/2016>
-- Description:	<Description,,Get Blog Image By BlogID>
-- =============================================
CREATE PROCEDURE [dbo].[GetBlogImageByBlogID]
	-- Add the parameters for the stored procedure here
	@BlogID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT i.ImageData, i.ImageID, i.Name FROM [Image] i
	LEFT JOIN BlogImage bi
	 ON bi.ImageID = i.ImageID
	WHERE @BlogID = bi.BlogPostID
END








GO
/****** Object:  StoredProcedure [dbo].[GetBlogPostByBlogPostID]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Tony Maiorana>
-- Create date: <Create Date,,4/24/2016>
-- Description:	<Description,,Get BlogPost by BlogPostID>
-- =============================================
CREATE PROCEDURE [dbo].[GetBlogPostByBlogPostID]
	-- Add the parameters for the stored procedure here
	@BlogID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT        bp.BlogPostID, bp.ExpirationTime, bp.CreationTime, c.CategoryID, c.CategoryName, bp.Title, bp.TextBody, bp.UserID, bp.PostTime, bp.UpdateTime, bp.IsApproved, AspNetUsers.UserName
FROM            BlogPost AS bp INNER JOIN
                         Category AS c ON c.CategoryID = bp.CategoryID
						  INNER JOIN AspNetUsers ON bp.UserID = AspNetUsers.Id
WHERE        (@BlogID = bp.BlogPostID)
END








GO
/****** Object:  StoredProcedure [dbo].[GetStaticImageByStaticPageID]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		William Poulson
-- Create date: 4/29/2016
-- Description:	fetches the image associated with a static page
-- =============================================
CREATE PROCEDURE [dbo].[GetStaticImageByStaticPageID] 
	-- Add the parameters for the stored procedure here
	@StaticPageID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT i.ImageData, i.ImageID, i.Name
	FROM [Image] AS i
	LEFT JOIN StaticImage AS si
	 ON si.ImageID = i.ImageID
	WHERE @StaticPageID = si.StaticPageID
END




GO
/****** Object:  StoredProcedure [dbo].[GetStaticPageByStaticPageID]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		William Poulson
-- Create date: 4/29/2016
-- Description:	Grabs a static page by id passed
-- =============================================
CREATE PROCEDURE [dbo].[GetStaticPageByStaticPageID]
	-- Add the parameters for the stored procedure here
	@StaticPageID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM StaticPage AS sp
	WHERE (@StaticPageID = sp.StaticPageID)
END




GO
/****** Object:  StoredProcedure [dbo].[UpdateStaticPageContent]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		William Poulson
-- Create date: 4/29/2016
-- Description:	updates content for static pages 
-- =============================================
CREATE PROCEDURE [dbo].[UpdateStaticPageContent]
	-- Add the parameters for the stored procedure here
	@StaticPageID int,
	@Title varchar(150),
	@TextBody varchar(MAX),
	@UpdateTime datetime,
	@Name varchar(50),
	@ImageData varchar(max)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE StaticPage
	SET Title = @Title, TextBody = @TextBody, UpdateTime = @UpdateTime
		WHERE StaticPageID = @StaticPageID
			
END




GO
/****** Object:  StoredProcedure [dbo].[UpdateStaticPageImage]    Script Date: 5/2/2016 9:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		William Poulson
-- Create date: 4/29/2016
-- Description:	updates image associated with a static page
-- =============================================
CREATE PROCEDURE [dbo].[UpdateStaticPageImage] 
	-- Add the parameters for the stored procedure here
	@StaticPageID int,
	@Name varchar(50),
	@ImageData varchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [Image]
		SET ImageData = @ImageData, Name = @Name
			WHERE ImageID = (SELECT si.ImageID FROM StaticImage si WHERE si.StaticPageID = @StaticPageID)
END




GO
USE [master]
GO
