@model CircularLogic.Models.StaticPage
@{
    ViewBag.Title = "ViewStaticPage";
}
<div class="col-md-12 details">
    <h2 class="staticTitle">@Model.Title</h2>
    <div class="row image">
        @if (!(Model.Image.ImageData == null))
        {
            <div class="staticImage">
                <img src="@Model.Image.ImageData" alt="@Model.Image.Name" style="max-width: 586px; margin-left: auto; margin-right: auto; display: block;" />
            </div>
        }

        <div class="staticContent">
            <div class="postContent">
                @Html.Raw(Model.HtmlContent)
            </div>
        </div>
    </div>
</div>