@model List<CircularLogic.UI.Models.BlogPostViewModel>

@{
    ViewBag.Title = "CL";
    Layout = "~/Views/Shared/_BlogPagesView.cshtml";
}

<h2>The Dev's Round Table</h2>


@{
    var results = (from bp in Model
                   orderby bp.BlogPost.CreationTime descending
                   select bp).Take(12);
}

    @foreach (var blogPostViewModel in results)
    {
        <div class="col-md-3 col-sm-6 col-xs-12 tile-spacer">
            @Html.Partial("_BlogTilePartial", blogPostViewModel)
        </div>
    }
<div class="row"></div>