@model CircularLogic.UI.Models.BlogPostViewModel

@{
    ViewBag.Title = "BlogPostDetail";
}
<h2>Blog Post Details</h2>
@*TODO: Hannah needs to complete - had different format and needed to modify Controller*@
<p>Title: @Model.BlogPost.Title</p>
<p>Content: @Model.BlogPost.HtmlContent</p>
<p>Tags: @Model.BlogPost.Tags</p>