
@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/_BlogPagesView.cshtml";
}

<h2 style="margin-left: -20px;">Dev's Round Table</h2>
<br/>
<div ng-app="angularTable" ng-view="">
    <div class="bs-component ng-cloak" ng-controller="listdata">
        <form class="form-inline row">
            <div class="form-group">
                <label>Search</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Search" id="blgSearch">
            </div>
        </form>
        <div ng-repeat="category in Categories" class="btn-group inline pull-left">
            <button class=".catName" value="{{category}}">{{category}}</button>
        </div>

        <div class="row">
            <div dir-paginate="post in posts|orderBy:sortKey:reverse|filter:search|itemsPerPage:12" ng-cloak>
                <div class="tile-spacer">
                    <a href="/Blog/Post/{{post.ID}}" class="tile-link col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding: 20px 0; margin: 5px 5px">
                        <div class="blog-tile">
                            <div class="tile-title" ng-style="{'background-color': post.Color}">
                                <div class="tile-date">{{post.Date}}</div>
                            </div>
                            <div class="tile-image-container">
                                <div class="tile-image">
                                    <img ng-src="{{post.Image}}" style="height: 130px; width: 100%; object-fit: contain">
                                </div>
                            </div>
                            <div class="tile-title-text-container">
                                <div class="tile-title-text ">{{post.Title}}</div>
                            </div>
                            <div class="tile-author-container">
                                <div class="tile-author">{{post.Author}}</div>
                            </div>
                            <div class="tile-tags-container">
                                <div class="tile-tags">
                                    <span ng-repeat="Tag in post.Tags">{{Tag}} </span>
                                </div>
                            </div>
                            <div class="tile-fadeout"> </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        @*<table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th ng-click="sort('Title')">
                            Title
                            <span class="glyphicon sort-icon" ng-show="sortKey=='Title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('Author')">
                            Author
                            <span class="glyphicon sort-icon" ng-show="sortKey=='Author'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('Category')">
                            Category
                            <span class="glyphicon sort-icon" ng-show="sortKey=='Category'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th>
                            Tags
                        </th>
                    </tr>
                </thead>
                <tbody>
                <tr dir-paginate="post in posts|orderBy:sortKey:reverse|filter:search|itemsPerPage:10" ng-cloak>

                    <td ng-cloak><a href="/BlogPost/BlogPostDetail/{{post.ID}}">{{post.Title}}</a></td>
                    <td ng-cloak>{{post.Author}}</td>
                    <td ng-cloak>{{post.Category}}</td>
                    <td ng-cloak><span ng-repeat="Tag in post.Tags">{{Tag}} </span></td>
                </tr>
                </tbody>
            </table>*@
        <div class="row">
            <dir-pagination-controls max-size="12"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>
    </div>
@section scripts
{
<script src="~/Scripts/app/BlogSearchApp.js"></script>
    <script>
        $(document).ready(function() {
            $(document).on("click", ".catSearch", function () {
                var catName = $(this).value();
                $('#blgSearch').val(catName);
                $('#blgSearch').trigger('input');
            });
        })
       </script>
}